.box1{
    background-color: #000000;
    height: 120px;
}

.box2{
    background-color: #000000;
    height: 60px;
}

.redes1{
    font-size: 50px !important;
    margin-Right :5;
    color: white;
}

.redes2{
    font-size: 60px !important;
    color: white;

}

.textos{
   color: white;
}